name: CI - Build, Test, Docker Push (Java 8)

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Make mvnw executable
        run: chmod +x mvnw

      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '8'

      - name: Build with Maven
        run: ./mvnw clean package -DskipTests

      - name: Run Tests
        run: ./mvnw test

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: |
          docker build -t brijraj12/hello:latest -t brijraj12/hello:${{ github.sha }} .

      - name: Push Docker Image
        run: |
          docker push brijraj12/hello:latest
          docker push brijraj12/hello:${{ github.sha }}
